<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="zebrecointegration" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Zebreco Integration</label>
            <tab>service</tab>
            <resource>OuterEdge_ZebrecoIntegration::config_zebrecointegration</resource>
            <group id="account" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Account Settings</label>
                <field id="name" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name</label>
                    <comment>Your zebreco account name [ACCOUNT_NAME.zebreco.com]. If empty, the integration will be disabled.</comment>
                </field>
                <field id="user" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
            <group id="customer" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Settings</label>
                <field id="mapping" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mapping for Customer Attributes</label>
                    <frontend_model>OuterEdge\ZebrecoIntegration\Block\Adminhtml\Form\Field\Customermapping</frontend_model>
                    <backend_model>OuterEdge\ZebrecoIntegration\Model\System\Config\Backend\Customermapping</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>

