.support-ticket-post {
    margin-top: 2em;
    margin-bottom: 2em;
    border-top: 1px solid #dddddd;
}
.support-ticket-post-contact {
    display: flex;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.support-ticket-post-contact img {
    width: 40px;
    height: 40px;
    margin-right: 1em;
}

.support-ticket-post-contact h4,
.support-ticket-post-contact h5 {
    margin-top: .5em;
    margin-bottom: .5em;
}